*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #383c54;
}

.main{
    display: flex;
    flex-direction: column;
}

.main .header{
    height: 80px;
    display: flex;
    justify-content: end;
    padding-right: 40px;

}

.main .header .slider{
    margin-top: auto;
    height: 30px;
    width: 60px;
    background-color: slateblue;
    border-radius: 20px;
}

.main .header .slider .button{
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 100%;
    background-color: white;
}

.main .father{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.main .father .section{
    display: flex;
    gap: 10px;
}

.main .section{
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    z-index: 10;
    background-color: transparent;
}

.main .section .box{
    color: white;
    font-size: 270%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

.box .ms2{
    background-color: transparent;
    font-size: medium;
    padding-top: 20px;
}

.main .aside{
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.main .aside .box1{
    height: 50px;
    background-color: #404c64;
    border-radius: 10px;
    color: white;
    padding-left: 60px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

