*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*body{
    width: 100%;
    height: 100vh;
    font-family: Arial;
}

.header{
    width: 100%;
    height: 80px;
    background-color: #f9f9f9;
    border-bottom: 3px solid #d9d9d9;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px 120px 0px 120px;

}

.header .headerOption{
    font-size: 20px;
    color: #4185ad;
    font-weight: 500;
}

.main{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-1{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.section-1 .contentCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
}

.contentCard .card{
    width: 500px;
    height: 300px;
    background: linear-gradient( to right, #48a2be, #2a72a2);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.card .visa{
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: 50px;
    font-family: Arial;
    font-weight: 700;
    color: #d9d9d9;
    font-style: italic;
}

.card .contentChip{
    width: 100%;
    margin-top: 10px;
}

.card .contentChip .chip{
    width: 70px;
    height: 50px;
    background-color: #d9d9d9;
    border: 1.5px solid #525252;
    border-radius: 6px;
}

.card .numberCard{
    margin-top: 20px;
    width: 100%;
    display: flex;
    font-weight: 500;
    font-size: 30px;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    color: #fff;
}

.card .personalInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 40px;
}

.contentCard .contentPrevious{
    width: 100%;
}
.contentPrevious .previous{
    width: 120px;
    font-size: 18px;
    color: #48a2be;
    font-family: Arial;
    cursor: pointer;
}

.section-2{
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}