* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.body {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.head {
    font-size: large;
    font-weight: 600;
}

.from {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.from .content-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.from .content-input .type-input {
    min-width: 80px;
    max-width: 80px;
    display: flex;
    justify-content: end;
    text-align: end;
    align-items: center;
}

.from .content-input .input {
    width: 100%;
    height: 36px;
    outline: none;
    border: 2px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

.from .content-input .input-color {
    width: 60px;
}

.from .content-input .input-large {
    height: 44px;
    font-size: large;
}

.from .content-input .input-small {
    height: 20px;
    font-size: small;
}


@media(min-width: 700px) {
    .main {
        flex-direction: row;
    }
}