* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial;
}

.body {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: row;
}

.section_1 {
   width: 100%;
   height: 100%;
   background-color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   align-items: center;
}

.section_1 .form {
   width: 400px;
   background-color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
}

.content-1 {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.header {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.brand {
   font-size: 28px;
   font-weight: bold;
   color: rgb(12, 113, 254);
}

.content-title {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.title-1 {
   font-size: 32px;
   font-weight: bold;
}

.title-2 {
   font-size: 16px;
   color: gray;
   font-weight: 600;
}

.content-buttom {
   width: 100%;
   display: flex;
   gap: 15px;
}

.btn {
   width: 100%;
   height: 60px;
   color: #000;
   background-color: #ffffff;
   border: 2px solid rgb(205, 205, 205);
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
   cursor: pointer;
   transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
   background-color: #dcdcdc;
   color: #4a4a4a;
}

.separator {
   width: 100%;
   position: relative;
   display: flex;
   justify-content: center;

}

.text {
   z-index: 10;
   background-color: #ffffff;
   padding-left: 10px;
   padding-right: 10px;
   color: #4a4a4a;
   font-weight: 600;
}

.line {
   width: 100%;
   height: 1px;
   background-color: #a2a2a2;
   position: absolute;
   top: 8px;
}

.content-2 {
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.content-input {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding-top: 20px;
}

.content-input input {
   height: 46px;
   padding-left: 8px;
   background-color: #f8f8f8;
   font-size: 18px;
   border-radius: 10px;
   outline: none;
   border: 2px solid #a2a2a2;
}

.info-input {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.content-input input:focus {
   border-color: #006ee3;
}

.checkbox {
   display: flex;
   align-items: center;
   gap: 10px;
}

.checkbox input {
   width: 20px;
   height: 20px;
}

.info-input span {
   color: #a2a2a2;
   font-weight: 600;
   font-size: 14px;

}

.forgot-pass {
   color: blue;
   cursor: pointer;
}

.btn-login {
   width: 100%;
   background-color: rgb(56, 56, 255);
   height: 50px;
   color: #ffffff;
   font-size: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   cursor: pointer;
   transition: background-color 0.5s;
}

.btn-login:hover {
   background-color: rgb(60, 129, 225);
}

.create-account {
   display: flex;
   justify-content: center;
   gap: 20px;
}

.create-account a {
   text-decoration: none;
   color: blue;
}


.section_2 {
   width: 100%;
   height: 100%;
   background-color: #0443ff;
   display: flex;
   align-items: center;
   justify-content: center;
}

.section-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

.fondo-cicle {
   width: 450px;
   height: 450px;
   background-color: #4482fef2;
   border-radius: 50%;
   border: 70px solid rgba(6, 111, 238, 0.949);
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
}

.fondo-cicle {
   display: flex;
   flex-direction: row;
}

.content-items {
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-left: 40px;
}

.icons {
   display: flex;
   flex-direction: column;
   margin-right: 10px;
   position: relative;
   margin-left: -50px;
}

.icons img {
   width: 80px;
   background-color: #f8f8f8;
   padding: 10px;
   border-radius: 50%;
   border: 8px solid rgba(66, 151, 255, 0.949);
   margin-bottom: 20px;
}

.slack-google {
   position: absolute;
   display: flex;
   flex-direction: column;
   gap: 100px;
}

.redes {
   position: absolute;
   top: 100px;
   left: -50px;
}

.content__form {
   width: 220px;
   height: 230px;
   background-color: #ececec;
   border-radius: 10px;
   margin-top: 25px;
   margin-left: 100px;
}

.header-form {
   width: 100%;
   height: 30px;
   background-color: #ffffff;
   border-radius: 10px 10px 0 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.puntos {
   display: flex;
   align-items: center;
}

.punto {
   width: 12px;
   height: 12px;
   background-color: #006ee3;
   border-radius: 50%;
   display: flex;
   margin: 8px 5px;
}

.red {
   background-color: rgb(250, 59, 59);
}

.yellow {
   background: rgb(255, 255, 23);
}

.green {
   background-color: rgb(17, 220, 17);
}

.barra {
   width: 100px;
   height: 10px;
   border-radius: 20px;
   margin-right: 15px;
   background-color: #dcdcdc;
}

.section-form {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
}

.sub-header {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.bar {
   width: 60px;
   height: 8px;
   border-radius: 10px;
}

.barra-1 {
   margin-top: 10px;
   width: 100px;
   height: 20px;
   background-color: rgba(149, 149, 149, 0.3);
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 20px;
}

.bar-1 {
   width: 60px;
   height: 7px;
   background-color: #808080;
}

.barra-2 {
   margin-top: 10px;
   background-color: #9d9d9d;
}

.info-form {
   width: 180px;
   height: 40px;
   background-color: #ffffff;
   border: 1px solid #9d9d9d;
   border-radius: 5px;
   box-shadow: 0 0 5px 0 #9e9d9d;
   align-content: center;
   display: flex;
   align-items: center;
}

.user img {
   width: 30px;
   background-color: #eaeaea;
   border-radius: 50%;
   margin: 10px;
}

.info-user {
   display: flex;
}

.info-user-1 {
   width: 50px;
   height: 7px;
   background-color: #8e8e8e;
   border-radius: 10px;
   margin-bottom: 5px;
}

.info-user-2 {
   width: 100px;
   height: 7px;
   background-color: #adadad;
   border-radius: 10px;
}